@charset "utf-8";

.button_title{
    border-color: #957745;
    font-size: 15px;
    font-weight: bold;
    color: #957745;
    border-width: 5px;
    border-radius: 30px;
    transition: background-color .2s linear;
}

.button_title:hover {
    background: #FFEFD5;
}

.footer{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color:white;
    background: #282828;
}

.navbar-brand:hover{
    background: #FFB400	;
    border-radius: 30px;
}

.navbar-brand{
    transition: background-color .2s linear;
    border-radius: 30px;
}

.login_border{
    border-top-style : dotted;
    border-top-width:4px;
    border-color:#dcdcdc;
}

a {
    color:#F4FFFF;
}

.username{
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color:#00FFFF;
}

.login_label{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color:#8B6331;
}

.form-control{
    border-style : outset;
    border-width:4px;
    border-color:#dcdcdc;
}

.login_button{
    border-style : outset;
    border-width:4px;
    border-radius: 30px;
    transition: background-color .2s linear;
    border-color: #957745;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color:#8B6331;
}

.login_button:hover {
    background: #FFEFD5;
    color:#8B6331;
    text-decoration: none;
}


.cancel_button{
    border-style : outset;
    border-width:4px;
    border-radius: 30px;
    transition: background-color .2s linear;
    border-color: #969696;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color:#969696;
}

.cancel_button:hover {
    background: #FFEFD5;
    color:#969696;
    text-decoration: none;
}

.start_button{
    color: #000000;
    transition: background-color .2s linear;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

}

.start_button:hover{
    background: #FFEFD5;

}

.stage_navbar{
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    background: #343a40;
    border-style : outset;
    border-width:2px;
    border-color: #FDF5E6;
    color: #FFE641;
}

.bg_stageTop{
    background-image: url('../images/wood.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-style : outset;
}

.bg_stageMiddle{
    background-image: url('../images/wood.jpg');
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style : outset;
    border-color: #F4FFFF;
}

.bg_stageBottom{
    background: #a0a0a0;
    border-radius: 15px;
    border-style : outset;
}

.closed_card{
    color: #FFE641;
    font-size: 130%;
    margin: 20px;
    margin-top: 30px;
    
}

.button_change{
    margin-top: 10px;
    background:#F4FFFF;
    color: #000000;
    font-size: 80%;
    margin-bottom: 5px;
    font-weight: bold;
    border-color: #F4FFFF;
}

.button_change:hover{
    background: #F4FFFF;
}

.border_3{
    border-color: #AE905E;
    border-width: 4px;
    border-style: solid;
}

.button_determine{
    border-color: #828282;
    border-width: 2px;
    border-radius: 15px;
    margin-top: 10px;
    background:#282828;
    color: #F4FFFF;
    font-size: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.button_determine:hover{
    background: #FFFA78;

}

.card_size{
    height: 100px;
    width: 70px;
}

.help_card_size{
    height: 60px;
    width: 45px;
}

.stage_score{
    color: #000000;
    background:rgba(245,245,220,0.5);
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.font_yellow{
    color: #FFFA78;
}

.font_white{
    color: #FFFFFF;
}

.font_skyblue{
    color: #00FFFF;
}
.text_shadow{
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.result_1{
    border-color: #FFD232;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 10px;
    background:#B21EF1;
    color: #FFEB46;
    margin-bottom: 5px;
    font-weight: bold;
}
.result_2{
    border-color: #FFFFFF;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 10px;
    background:#00FFFF;
    color: #FF0000;
    margin-bottom: 5px;
    font-weight: bold;
}
.result_3{
    border-color: #828282;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 10px;
    background:#6DD66D;
    color: #F4FFFF;
    margin-bottom: 5px;
    font-weight: bold;
}
.result_4{
    border-color: #828282;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 10px;
    background:#282828;
    color: #F4FFFF;
    margin-bottom: 5px;
    font-weight: bold;
}

.result_message{
    margin-top: 10px;
    color: #00FFFF;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
}

.gameover_message{
    margin-top: 10px;
    color: #FF98A3;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
}


.next_button{
    border-style : outset;
    border-width:4px;
    border-radius: 30px;
    transition: background-color .2s linear;
    border-color: #957745;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color:#8B6331;
    background:rgba(245,245,220,0.8);
}

.next_button:hover {
    background: #FFFFFF;
    color:#8B6331;
    text-decoration: none;
}

.gameover_icon:hover{
    background: #FFB400;
    border-radius: 30px;
}

.gameover_icon{
    transition: background-color .2s linear;
    border-radius: 30px;
    border-style : outset;
}

.gameover_icon2:hover{
    background: #FFB400;
    border-radius: 30px;
}

.gameover_icon2{
    transition: background-color .2s linear;
    border-radius: 30px;
    background: #000000	;
    border-style : outset;
}

.allClear{
    border-style : outset;
    border-width:4px;
    border-radius: 30px;
    border-color: #957745;
    font-weight: bold;
    font-style: italic;
    color:#FFDC46;
    background:rgba(245,245,220,0.8);
}

.highscore{
    border-style : outset;
    border-width:4px;
    border-radius: 30px;
    border-color: #957745;
    font-weight: bold;
    font-style: italic;
    color:#FF5AD9;
    background:rgba(255,255,30,0.8);
}

.bg_message{
    background-image: url('../images/message.png');
    opacity: 0.8;
    border-radius: 15px;
    border-style : outset;
}

.comment_button{
    border-style : outset;
    border-width:4px;
    border-radius: 30px;
    transition: background-color .2s linear;
    border-color: #957745;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color:#8B6331;
    background:#FFFFFF;
}

.comment_button:hover {
    background: #FFE650;
    color:#8B6331;
    text-decoration: none;
}

.comment{
    color: #FFFA78;
    border-radius: 30px;
    background:rgba(255,200,200,0.7);
    font-style: italic;
    font-weight: bold;
}

.message_frame{
        height: 430px;    
        overflow: auto;
}  

.message_box {
        width: 96%;
        margin-left: 2%;
        height: auto;
        overflow: auto;
        border-radius: 30px;
        background:#FFEFD5;
        color: black;
        font: italic small-caps bold 14px/2 cursive;

}
 
.user_box {
        width: 95%;
        margin-top: 4%;
        height: 85%;
        overflow: auto;
        border-radius: 30px;
        background:#FFEFD5;
        opacity: 0.5;
}
 
.bg_home{
    background-image: url('../images/home.jpg');
    opacity: 0.8;
    border-radius: 15px;
    width: 100%;
    height: auto;
    overflow: auto;
    border-style : outset;
    background-size: cover;
background-size: 100% 100%;
}

.board_title{
        width: 85%;
        margin: 1%;
        margin-left: 7.5%;
        height: auto;
        border-radius: 5px;
        background:#8B6331;
        border-style : outset;
        border-color : #8B4513;	
        opacity: 1.0;
        text-align-last: center;
        color : white;
        font: italic small-caps bold 16px/2 cursive;
}

.message_box2 {
        color: white;
        background:#B98E69;
        border-radius: 15px;
        border-style : solid;
        border-width:1px;
        border-color: white;
        opacity: 0.7;
}

.user_name {
        color: black;
        font: italic small-caps bold 20px/2 cursive;
        opacity: 1.0;
}

.message_box_border{
    border-style : dotted;
    border-radius: 5px;
    border-width:5px;
    border-color:#ffffff;
}

.font_title{
        color: black;
        font: italic small-caps bold 20px/2 cursive;
        opacity: 1.0;
}

.font_info{
        font: italic small-caps bold 22px/2 cursive;
        opacity: 1.0;
        overflow: auto;
}

.start_button{
    border-style : outset;
    border-width:4px;
    border-radius: 30px;
    transition: background-color .2s linear;
    border-color: #957745;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color:#8B6331;
    background:rgba(245,245,220,0.8);
}

.start_button:hover {
    background: #FFFFFF;
    color:#8B6331;
    text-decoration: none;
}

.info_frame{
        overflow: auto;
}  

.bg_home2{
    background-image: url('../images/home.jpg');
    opacity: 0.6;
    width: 100%;
    height: auto;
    overflow: auto;
    background-size: cover;
    background-size: 100% 100%;
}

.ranking_icon1{
    color: #FFD200;
    font-size: 30px;
    background-color: white;
    border-color: #FFD200;
    border-style: solid;
    vertical-align: middle;
}

.ranking_icon2{
    color: #bebebe;
    font-size: 30px;
    background-color: white;
    border-color: #bebebe;
    border-style: solid;
    vertical-align: middle;
}

.ranking_icon3{
    color: #8B4513;
    font-size: 30px;
    background-color: white;
    border-color: #8B4513;
    border-style: solid;
    vertical-align: middle;
}

.ranking_text1{
    color: #9E37D1;
}

.ranking_shadow{
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}

.border_b{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-style: ridge;
    border-color: #EBC680;
}

.bg_ranking{
    background-image: url('../images/home.jpg');
    opacity: 0.8;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border-style : outset;
    background-size: cover;
    background-size: 100% 100%;
}

.ranking_board{
    margin: 5%;
    height: 500px;

background-size: 100% 100%;
}

.ranking_title{
        width: 85%;
        margin: 1%;
        margin-left: 7.5%;
        height: auto;
        border-radius: 15px;

        border-style : outset;
        border-color : white;
        opacity: 0.8;
        text-align-last: center;
        color : white;
        font: italic small-caps bold 16px/2 cursive;
        font-size: 50px;
        background: linear-gradient( to bottom, white,orange,white );
}

/* SCROLL */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: #FFEFD5; }
::-webkit-scrollbar-thumb { 
    background: linear-gradient(to bottom, #FFFFFF, #F4A460); 
}
::-webkit-scrollbar-button { display: none; }


.rank_frame{
    font-family: cursive;
    border-radius: 10px;
    border-style: dotted;
    border-width:5px;
    border-color:#ffffff;
    margin-left: 7%;
  
}

.return_icon:hover{
    background: #FFB400;
    border-radius: 30px;
}

.return_icon{
    transition: background-color .2s linear;
    border-radius: 30px;
    font-size: 14px;
    color: #B4B4DC;
    background: #FFFFFF;
    border-style : outset;
}
